# Default ignored files
/shelf/
*.xml
*.wav
*.iml
*.pyc
*.cpython-39.pyc
*-checkpoint.ipynb
separator/__pychache__/
separator/round/__pychache__/
separator/rectangle/__pychache__/
tests/__pychache__/
__pychache__/
.idea/
